<div [ngClass]="{main: true}">
  <div [ngClass]="{title: true}">Вложенность элементов</div>
  <div [ngClass]="{content: true}">
    <div [ngClass]="{container: true}">
      <div [ngClass]="{red: true}">
        <div [ngClass]="{description: true}">red</div>
      </div>
      <div [ngClass]="{yellow: true}">
        <div [ngClass]="{description: true}">yellow</div>
      </div>
      <div [ngClass]="{green: true}">
        <div [ngClass]="{description: true}">green</div>
      </div>
      <div [ngClass]="{green: true}">
        <div [ngClass]="{description: true}">green</div>
      </div>
      <div [ngClass]="{green: true}">
        <div [ngClass]="{description: true}">green</div>
      </div>
    </div>
  </div>
  <span [ngClass]="{invite: true}">Know the COLOR!!</span>


</div>



